
body{
    background-color: black;
}
.trigger-help {
    font-size: 2em;
    color:grey;
    position: relative;
    text-align:right;

    
}

.game-title {
        font-size: 1em;
        color: grey;
}

.weapon {
    font-size: 5em;
    color: grey;
    position:center;
    text-align: center;
    transition: all 0.06s ease;

}

.playing {
    transform: scale(1.1);
    color: whitesmoke;
  }

.scoreboard-container {
    font-size: 3em;
    color: grey;
    text-align: center;
}

.scoreboard-label {
    font-size:3em;
    color: grey;
    text-align: center;
    text-anchor: end;
    margin-top: 2em;
}

.result{
    font-size:2em;
    color: grey;
    text-align: center;
    transition: all 1s ease;
}

.gameOver {
    transform: scale(1.2);
    color: whitesmoke;
  }